@font-face {font-family: space-frigate; src: url(res/fnt/spacefr.ttf);}
@font-face {font-family: silkscreen; src: url(res/fnt/slkscr.ttf);}

::-webkit-scrollbar
{
  width: 4px;
}

::-webkit-scrollbar-track
{
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

html, body
{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* Main menu */
.main-menu
{
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: space-frigate;
}

.menu-title
{
  text-align: center;
  font-size: 96px;
  color: #ddd;
  margin-top: 100px;
  padding: 20px;
  background-color: rgba(10, 10, 10, 0.4);
}

.menu-options
{
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.menu-option
{
  color: #ddd;
  font-size: 24px;
  padding: 10px 0;
  margin: 30px 0;
}

.menu-option:hover
{
  background: rgba(255, 255, 255, 0.2);
}

.end-score
{
  color: #ddd;
  font-size: 24px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.end-summary
{
  color: #ddd;
  font-size: 18px;
  width: 100%;
  margin-top: 50px;
  padding: 0 20px;
  text-indent: 50px;
  line-height: 1.3;
  box-sizing: border-box;
}

.ship-select
{
  position: absolute;
  top: 50%;
  margin-top: -150px;
  width: 50px;
  height: 300px;
  line-height: 275px;
  text-align: center;
  font-size: 96px;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.15);
}

.ship-select:hover
{
  background-color: rgba(255, 255, 255, 0.2);
}

.ship-select-left
{
  left: 300px;
}

.ship-select-right
{
  right: 300px;
}

.console-window
{
  padding: 10px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.15) 40%, rgba(0, 0, 0, 0.8));
  background-color: rgba(0, 0, 0, 0.4);
  color: #ddd;
  font-family: silkscreen;
  box-shadow: inset 0px 0px 6px 6px rgba(255, 255, 255, 0.1);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  text-shadow: 0 0 10px #ddd;
}

.event-log
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 300px;
  overflow-y: auto;
}

.event-log-item
{
  margin: 10px 0;
}

.ship-hud
{
  position: absolute;
  left: 0;
  top: 0;
}

.ship-hud-label, .ship-hud-value
{
  display: inline-block;
}

.ship-hud-label
{
  width: 100px;
  text-align: right;
}

.ship-hud-shield
{
  color: #55d;
}

.ship-hud-armor
{
  color: #5d5;
}

.ship-hud-fore,
.ship-hud-starboard,
.ship-hud-aft,
.ship-hud-port
{
  color: #d55;
}
