html, body
{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.bar
{
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 40px;
  padding: 5px;
  background: #222;
}

.top-bar
{
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 40px;
  padding: 5px;
  background: #222;
}

.bar-button
{
  display: inline-block;
  min-width: 80px;
  padding: 5px;
  background: #444;
  color: #ddd;
  text-align: center;
}

.bar-button:hover
{
  background: #666;
}

.bar-item
{
  color: #ddd;
  display: inline-block;
  min-width: 80px;
  padding: 5px;
  text-align: center;
}
